<!DOCTYPE html>
<html>
<head>
    <title>QR Code Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>QR Code Generator</h1>
    <form method="post" action="/">
        <label for="urlInput">Enter URL or Text:</label>
        <input type="text" id="urlInput" name="urlInput" required>
        <button type="submit">Generate QR Code</button>
    </form>
    {% if qr_code %}
    <div id="qrCodeContainer">
        <img src="{{ url_for('static', filename=filename) }}" alt="QR Code">
        <a href="{{ url_for('static', filename=filename) }}" download>Download</a>
    </div>
    {% endif %}
    <div id="qrCodeCounter">
        <h2>QR Codes Generated: {{ qr_code_counter }}</h2>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
